* {
    box-sizing: border-box;
}

body {
    justify-content: center;
}

.table1 {
    border: 1px solid;
    border-collapse: collapse;
    align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
   
    
}

.tr1 {
    color: blueviolet;
    border: 1px solid;
}

.th1 {
    
    text-align: center;
    color: red;
    
}

.tr1:hover {
    color: red;
}

.nodeDiv {
    padding: 5px;

}
.div2 {
    display: inline-grid;
    justify-content: center;
    gap: 8px;
    padding:6 px;
    border: 5px solid coral;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    visibility: hidden;
    background-color:lightcoral;
    margin-top: 1%;
}

.div2:hover {
    background-color: lightgoldenrodyellow;
}